* {
    color: #ffffff;
  }

  .add-address-card-container{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 18rem;
    margin-top: 2rem;
  }


  .add-card-address{
    border-radius: 1rem;
    background-color: #222222;
    height: 10rem;
    width: 10rem;
    margin-right: 4rem;
  }
  
  .mais{
    color: #f2af13 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
  }